@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--light);
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
}