@import url("./vars.css");

* {
    box-sizing: border-box;
}

select, input {
    font: inherit;
    font-size: 0.9em;
}

select {
    display: inline-block;
    line-height: 1em;
    padding: 0.35em 2.1em;
    padding-left: 0.4em;
    border: thin solid var(--primary);
    border-radius: 2px;
    background-color: var(--light);
  
    /* reset */
    margin: 0;      
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
/* arrows */
select {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--light) 50%),
        linear-gradient(135deg, var(--light) 50%, transparent 50%),
        linear-gradient(to right, var(--accents), var(--accents));
    background-position:
        calc(100% - 8px) calc(0.7em),
        calc(100% - 3px) calc(0.7em),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 2.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image:
        linear-gradient(45deg, var(--light) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--light) 50%),
        linear-gradient(to right, var(--secondary), var(--secondary));
    background-position:
        calc(100% - 3px),
        calc(100% - 8px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 2.5em;
    background-repeat: no-repeat;
    border-color: var(--secondary);
    outline: 0;
}

.inp-box {
    position: relative;
}

.inp-effect {
    width: 100%; 
    padding: 7px 14px 9px; 
    border: 1px solid var(--secondary); 
    color: #333; 
    letter-spacing: 1px;
    transition: 0.4s;
}

.inp-effect:focus {
    outline: none;
}

.inp-effect ~ .focus-border:before,
.inp-effect ~ .focus-border:after 
{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: var(--primary); 
    transition: 0.3s;
}

.inp-effect ~ .focus-border:after {
    top: auto; 
    bottom: 0; 
    left: auto; 
    right: 0;
}

.inp-effect ~ .focus-border i:before,
.inp-effect ~ .focus-border i:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 2px; 
    height: 0; 
    background-color: var(--primary); 
    transition: 0.4s;
}

.inp-effect ~ .focus-border i:after {
    left: auto; 
    right: 0; 
    top: auto; 
    bottom: 0;
}

.inp-effect:focus ~ .focus-border:before,
.inp-effect:focus ~ .focus-border:after {
    width: 100%; 
    transition: 0.3s;
}

.inp-effect:focus ~ .focus-border i:before,
.inp-effect:focus ~ .focus-border i:after {
    height: 100%; 
    transition: 0.4s;
}
