@import url("./inputs.css");

.inventory_table {
    width: 95%;
    position: absolute;
    right: 5%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    transition-duration: 0.5s;
}
.inventory_table th, td {

    text-align: center;
    padding: 8px;
    border: 2px solid;
}

input {
    border-collapse: collapse;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
}

.clicked {
    width: 75%;
    right: 25%;
}

.scroll_style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll_style::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scroll_style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

