* {
    box-sizing: border-box;
}

.sidebar {
    width: 0%;
    height: calc(100vh - 120px);
    background-color: var(--primary);
    color: var(--light);
    transition-duration: 0.5s;
}

.sidebarActive {
    width: 25%;
    padding: 1em 2.5em;
}

.navElementOpen {
    width: 100%;
    align-items: center;
}

.navElementClosed {
    display: none;
}