* {
    box-sizing: border-box;
}
.sidebar {
    width: 5%;
    height: 100%;
    padding: 1em 2.5em;
    position: absolute;
    left: 95%;
    transition-duration: 0.5s;
}
.sidebarActive {
    width: 25%;
    left: 75%;
}
.navElementOpen {
    display: block;
    width: 100%;
    align-items: center;

}
.navElementClosed {
    display: none;
}